@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background-image: linear-gradient(to right top, #1f214d, #3c1f47, #4d1e3d, #582233, #5c2a2a);
    font-family: 'nueu mentreal', sans-serif !important;
}
#bg-wrap{
    filter:blur(100px);
    opacity:0.3;
}
.input{
    background-color: transparent !important;
}
.textarea{
    background-color: transparent !important;
}
.fourofour{
    font-size: calc( 1em + 30vmin );
    color: #e5edf5;

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: #172c3b;
    --stroke-color: #9d4a4a;

    text-shadow:

            var(--x-offset)
            var(--y-offset)
            0px
            var(--background-color),

            calc( var(--x-offset) - var(--stroke) )
            calc( var(--y-offset) + var(--stroke) )
            0px
            var(--stroke-color);

}