@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background-image: linear-gradient(to right top, #1f214d, #3c1f47, #4d1e3d, #582233, #5c2a2a);
    font-family: 'nueu mentreal', sans-serif !important;
}
#bg-wrap{
    filter:blur(100px);
    opacity:0.3;
}
.input{
    background-color: transparent !important;
}
.textarea{
    background-color: transparent !important;
}
/*.img::after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    top:100vh;*/
/*    left:0;*/
/*    z-index: -1;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*    transform: scale(0.8);*/
/*    filter: blur(100vh);*/
/*    background-image: linear-gradient(*/
/*            var(--rotate)*/
/*            , #12ff00, #00ffd3 43%, #4e00c2);*/
/*    opacity: 1;*/
/*    transition: opacity .5s;*/
/*    animation: spin 1.5s linear infinite;*/
/*}*/

/*@keyframes spin {*/
/*    0% {*/
/*        --rotate: 0deg;*/
/*    }*/
/*    100% {*/
/*        --rotate: 360deg;*/
/*    }*/
/*}*/